@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    height: calc(100vh - 122px);
    z-index: 10;
    position: relative;
}

.border-none {
    border: none;
}

.max-input-height {
    max-height: 200px;
    overflow-y: scroll;
}


.main .leaflet-container {
    height: calc(100vh - 122px);
    z-index: 10;
    position: relative;
}

.allroutes .sidebar {
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.stopy {
    height: calc(100vh - 70px);
    overflow: auto;
}

.allroutes .leaflet-container {
    height: calc(100vh - 70px);
    z-index: 10;
    position: relative;
}

.loader {
    height: calc(100vh - 70px);
}

.carmanager {
    z-index: 120;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-icon {
    font-size: 12px;
    color: #EC8432;
    z-index: 1000;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    pointer-events: none;

}
