@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    height: calc(100vh - 122px);
    z-index: 10;
    position: relative;
}

.border-none {
    border: none;
}

.max-input-height {
    height: 200px;
    overflow-y: scroll;
}


.main .leaflet-container {
    height: calc(100vh - 122px);
    z-index: 10;
    position: relative;
}

.allroutes .sidebar {
    height: calc(100vh - 70px);
    overflow: scroll;
}

.stopy {
    min-height: calc(100vh - 70px);
    overflow-y: auto;
}

.allroutes .leaflet-container {
    height: calc(100vh - 70px);
    z-index: 10;
    position: relative;
}

.loader {
    height: calc(100vh - 70px);
}

.carmanager {
    z-index: 120;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}